body{
  background-image: url(xmas-poster.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  background-size: cover;
}
.design{
      margin-top: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      }
.design1{
      margin-top: 20px;
      font-size: 10px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      }
